.react-datepicker__aria-live {
  display: none;
}

.react-datepicker__month-container {
  padding: 24px;
  border-radius: 8px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px 0px #0000001a;
  left: 80px;
  top: 50px;

  .react-datepicker__day-name,
  .react-datepicker__day {
    width: 36px;
    height: 36px;
  }

  .react-datepicker__day-names {
    display: flex;
    gap: 8px;
    padding: 16px 0;

    .react-datepicker__day-name {
      text-align: center;
    }
  }

  .react-datepicker__day--disabled,
  .react-datepicker__day--outside-month {
    color: #a3a3a3;
  }

  .react-datepicker__month {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .react-datepicker__week {
      display: flex;
      gap: 8px;

      .react-datepicker__day {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
      }

      .react-datepicker__day.react-datepicker__day--disabled {
        background-color: transparent;
        cursor: default;
      }

      .react-datepicker__day.react-datepicker__day--selected {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
}
