@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HSBombaram";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root,
#root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
